/* Reset */
body,
h1,
h2,
p,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* Commons */
body {
  color: #666;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Layouts */
.l_row {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.l_row_thin {
  margin: 0 -4px;
}

.l_col {
  padding: 0 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

/* Components */
.cover {
  padding-top: 71.95%;
  background-image: url(./images/cover.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover h1 {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 36px;
  color: white;
  padding: 20px;
}

.section-contents {
  padding: 20px;
}

.section-contents h2 {
  margin-bottom: 20px;
}

.gallery-card {
  padding-top: 100%;
  position: relative;
}

.gallery-cover {
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: top;
  width: 100%;
}

.link {
  display: block;
  background-color: gold;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.link_prev {
  text-align: left;
}

.link_next {
  text-align: right;
}

/* Mediaquries */
/* PC */
@media (min-width: 960px) {
  .l_col_pc_12_12 {
    width: 100%;
  }
  .l_col_pc_11_12 {
    width: 91.66666667%;
  }
  .l_col_pc_10_12 {
    width: 83.33333333%;
  }
  .l_col_pc_9_12 {
    width: 75%;
  }
  .l_col_pc_8_12 {
    width: 66.66666667%;
  }
  .l_col_pc_7_12 {
    width: 58.33333333%;
  }
  .l_col_pc_6_12 {
    width: 50%;
  }
  .l_col_pct_5_12 {
    width: 41.66666667%;
  }
  .l_col_pc_4_12 {
    width: 33.33333333%;
  }
  .l_col_pc_3_12 {
    width: 25%;
  }
  .l_col_pc_2_12 {
    width: 16.66666667%;
  }
  .l_col_pc_1_12 {
    width: 8.33333333%;
  }
  .container {
    display: flex;
  }
  .cover {
    flex-shrink: 0;
    width: 50vw;
    height: 100vh;
    padding-top: 0;
  }
  .main {
    flex-grow: 1;
  }
}
