/* reset */
body,
h1,
ul,
li {
  padding: 0;
  margin: 0;
  color: #888;
  font-family: "arial";
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}
/* 공통 */
.l_layout {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.l_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  /* background-color: white; */
}

.l_col {
  width: calc(100% / 4);
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* background-color: tomato; */
}
.l_col div {
  background-color: yellow;
}

.brown {
  color: #c67722;
}

.isActive {
  color: #fff;
  background-color: #1c1f23;
}

/* header */
.main__header {
  background-color: #31373e;
  color: rgba(255, 255, 255, 0.5);
  /* overflow: hidden; */
}
/* 마진 겹침 해결 or overflow: hidden 처리 */
.main__header::before {
  content: " ";
  display: table;
}

.header__logo {
  /* inhrefit 해야 배경색이 적용되는 요소들이 몇 있는듯 */
  background-color: inherit;
  margin: 20px 0;
}

.header__gnb {
  display: flex;
  background-color: #262c32;
}

/* 괜찮은 방법인걸까 ?? */
/* 과제 예제 사이트의 텍스트 높이가 다르다! 왜일까? 폰트??*/
.gnb__item {
  padding: 15px 20px;
}
.gnb__item a {
  font-size: 12px;
}

.gnb__item:hover {
  background-color: tomato;
}

.gnb__item.isActive {
  background-color: #1c1f23;
  pointer-events: none;
}

.header__image {
  position: absolute;
  top: 0;
  right: -30px;
}

main {
  padding: 30px 0 10px;
  background-color: #1c1f23;
}
.movie__image {
  vertical-align: top;
  border-bottom: 5px solid currentColor;
}

.main__footer {
  background-color: yellowgreen;
}
